!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- [if lt IE 9]
    script(src='javascripts/vendor/jquery.js')
    script(src='javascripts/vendor/underscore.js')
    script(src='javascripts/app.js')
    :coffeescript
      console.log "hello"
  body#bootilicious!= body
